/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Titillium Web', sans-serif;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.flex{
    display: flex;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";